
@{
    ViewBag.Title = "Recharge";
}


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from rexbd.net/html/rechargepro/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Apr 2019 07:27:42 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recharge Pro | responsive html5 template</title>
    <!-- favicon -->
    <link rel="icon" href="~/Content/demo/favicon.ico" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/demo/assets/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/Content/demo/assets/css/fontawesome-all.min.css">
    <!-- slicknav -->
    <link rel="stylesheet" href="~/Content/demo/assets/css/slicknav.min.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="~/Content/demo/assets/css/animate.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/demo/assets/css/owl.carousel.min.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="~/Content/demo/assets/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/Content/demo/assets/css/responsive.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">

    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />


</head>
<body>

    @RenderSection("Header")

    @RenderBody()

    @RenderSection("Footer")

    <!-- preloader end -->
    <!-- jquery -->
    <script src="~/Content/demo/assets/js/jquery.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/demo/assets/js/bootstrap.min.js"></script>
    <!-- slicknav -->
    <script src="~/Content/demo/assets/js/jquery.slicknav.min.js"></script>
    <!-- imagesloaded -->
    <script src="~/Content/demo/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- owl carousel -->
    <script src="~/Content/demo/assets/js/owl.carousel.min.js"></script>
    <!-- isotope -->
    <script src="~/Content/demo/assets/js/isotope.pkgd.min.js"></script>
    <!-- circle magic -->
    <script src="~/Content/demo/assets/js/circleMagic.min.js"></script>
    <!-- ripple effect -->
    <script src="~/Content/demo/assets/js/jquery.ripples-min.js"></script>
    <!-- Google map activation -->
    <script src="~/Content/demo/assets/js/google.map.activation.js"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi-rrw9lb-uKY1vHd9gkzuBpj4-hiBsUA&amp;callback=initMap" async
            defer></script>
    <!-- swal2 -->
    <script src="~/Content/plugins.js"></script>
    <script src="~/Content/swal2.js"></script>




    <!-- main -->
    <script src="~/Content/demo/assets/js/main.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    @RenderSection("Script")
</body>

<!-- Mirrored from rexbd.net/html/rechargepro/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Apr 2019 07:28:05 GMT -->
</html>
